.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    background: var(--very-dark-blue);
    height: 21rem;
}
.footer-nav{
    display: flex;
    height: 11rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-icons{
    display: flex;
    align-items: center;
    width: 5.5rem;
    justify-content: space-between;
}
.logo-footer{
    margin-right: 0;
}
.icon-footer{
    cursor: pointer;
    transition: ease .3s;
}
.icon-footer:hover{
    --icon:var(--soft-red) ;
}
@media only screen and (min-width:65rem) {
    .footer{
        flex-direction: row;
        padding: 2rem 10.2rem;
    }
    .footer-nav{
        flex-direction: row;
    }
    .footer-nav{
        height: 1rem;
    }
    .footer{
        height: 5rem;
    }
    .logo-footer{
        margin-right: 2.5rem;
    }
}