.section{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 63vh;
    gap: 4rem;
}
.intro{
    position: relative;
}
.title{
    font-size: 3rem;
}
.img-hero{
    margin-right: -7rem;
}
.intro::after{
    content: ".";
    position: absolute;
    top: 3.7rem;
    left: 46rem;
    width: 100rem;
    height: 21.7rem;
    border-radius: 11rem;
    color: var(--soft-blue);
    background: var(--soft-blue);
    z-index: -1;
}
